.activity {
  display: none;
  @media screen and (min-width: 1200px) {
    display: initial;
    background: #ffffff;
    padding-bottom: 94px;
  }
}

.activity__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.list-activity {
  display: flex;
}

.activity__img {
  display: flex;
  width: 370px;
  height: 294px;
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.activity__img-text {
  position: absolute;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  bottom: 0px;
  height: 70px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
}
