.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--first-title-color);
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__group-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}

.feature__group-item {
  width: 450px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    &:not(:nth-child(2n + 2)) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.feature__group-link {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 120px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    width: 270px;
  }
}

.feature__group-icon {
  width: 70px;
  height: 70px;
}

.feature__section-item {
}

.feature__section-h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
  padding-top: 30px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.feature__section-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
