.header {
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo-color {
  color: var(--logo-color);
}

.header__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link,
.underlining {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.underlining::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background: var(--accent-color);
  border-radius: 2px;
  left: 0px;

  @media screen and (min-width: 768px) {
    bottom: -38px;
  }
  @media screen and (min-width: 1200px) {
    bottom: -33px;
  }
}

.underlining {
  color: var(--accent-color);
}

.header__connect {
  margin-left: auto;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  &-item {
    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.envelope {
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.smartphone {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.header__icon {
  fill: #757575;
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.header__link-tel,
.header__link-mail {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.header__icon,
.header__icon {
  fill: currentColor;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.header__link-mail {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.mob-menu {
  position: fixed;
  // width: 480px;
  // height: 796px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  // position: absolute;
  background-color: #ffffff;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vw;
  padding-bottom: 48px;
  padding-top: 21px;
  padding-left: 40px;
  padding-right: 25px;
  z-index: 1;
  &__item {
    padding-bottom: 35px;
  }
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.05;
    text-align: center;
    letter-spacing: 0.02em;
  }
  &__link-tel {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;

    padding-bottom: 32px;
  }
  &__link-mail {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    margin-bottom: 124px;
  }
  &__social-list {
    display: flex;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  // .container {
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }
}

.mob-menu-bottom {
  display: flex;
  margin-top: auto;
}
